/* ICONS */
.flashcard-container {
  position: relative;
}

.f-settings {
    border: 0;
    background: transparent;
    padding: 0;
}

.f-settings svg {
  position: absolute;
  height: 1.5rem;
  left: .5rem;
  top: 0;
}

.f-settings:hover {
    cursor: pointer;
    color: #6c757d;
}

/* FLASHCARD */
.flashcard {
    background-color: transparent;    
    height: 550px;
    perspective: 1000px;      
  }
  
.flashcard-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
  border-radius: 8px;   
}

.flashcard-flip {
  transform: rotateX(180deg);
}

.flashcard-front, .flashcard-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 8px;
  
}


.flashcard-front {
  /* background-color: #bbb; */
  background-color: #fff;
  color: black;
}
  
.flashcard-back {    
  background-color: #fff;
  /* background-color: #bbb; */
  color: black;
  transform: rotateX(180deg);
}

.flashcard-hint:hover {
  cursor: pointer;
}

.flashcard-msg {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 15rem;
  transform: translate(-50%, -50%);
}

.flashcard-start {
  display: block;
  position: absolute;     
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;    
  background: white;
  border-radius: 8px;
  z-index: 10;
}

.linking-back {
  position: absolute;
  bottom: 15px;
  width: 100%;
}

.pexels-logo {
  height: 30px;
}

.categories-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
}

.categories {
  position: relative;
  width: 250px; 
  height: 250px;
  padding: 0;
}

.category {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #3498db;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 12px;
  cursor: pointer;   
}

.cat-active {
  background: #205d85;
  border: 3px solid #3498db;
}

.category:hover {
  background: #205d85;
}

.category1 {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.category2 {
  top: 20%;
  right: 0;
}

.category3 {
  bottom: 20%;
  right: 0;    
}

.category4 {
  bottom: 0;
  left: 50%;    
  transform: translateX(-50%);
}

.category5 {
  bottom: 20%;
  left: 0;    
}

.category6 {
  top: 20%;
  left: 0;    
}

.start-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #54b48f;
  color: #000;
  height: 5rem;
  width: 5rem;
  padding: 1.75rem 1rem;
  border-radius: 50%;
}

.start-button:hover {
  cursor: pointer;
  color: #fff;
  background: #428b6f;
}

.flashcard-blink {
  position: absolute;
  width: 100%;
  height: calc(100% - 24px);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.find-image {
  width: 100%;
  height: calc(100% - 24px);
  object-fit: cover;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.flashcard-back-hint {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

/* PROGRESS BAR */
.loading-container {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.loading-header {
  margin-bottom: 0;
  font-weight: 600;
}

.loading{
  position: relative;
  height: 8px;
  width: 10rem;
  border: 8px solid #bbb;
  border-radius: 15px;
}

.color{
  position: absolute;
  background: #ffffff;
  width: 0px;
  height: 8px;
  top: -.25rem;
  left: -.25rem;
  border-radius: 15px;
  animation: load 4s infinite linear;    
}

@keyframes load{
  0%{
    width: 0%;
  }
  25%{
      width: 50%;
  }
  50%{
      width: 75%;
  }
  75%{
      width: 85%;
  }
  100%{
      width: 100%;
  }
}

/* HANGMAN */
.guess-word {
  display: flex;
  justify-content: center;
  padding: 1rem;
  visibility: hidden;
}

.guess-word > div {
  /* padding: 0 .25rem; */
  margin: 0 .5rem;
}

.blink-error {  
  background: #ffc4c4;
  animation: blinkingBackgroundError 1s infinite;
}

@keyframes blinkingBackgroundError {
  100% { opacity: 0; } 
}

/* END GAME */
.end-game-container {
  display: none;
  position: absolute;
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;  
}

.end-game-message {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: #000;
  align-items: center;
  justify-content: center;
}


