/* ICONS */
.flashcard-container {
  position: relative;
}
.flashcard-trophy {
  display: flex;
  justify-content: center;
}

.flashcard-trophy img {
  height: 1.25rem;
  margin-right: 0.25rem;
}

/* FLASHCARD */
.flashcard {
    background-color: transparent;    
    height: 550px;
    perspective: 1000px;      
  }
  
.flashcard-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
  border-radius: 8px;   
}

.flashcard-flip {
  transform: rotateX(180deg);
}

.flashcard-front, .flashcard-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 8px;  
}

.flashcard-front {
  background-color: var(--flashcard-front-bg);
  color: black;
  border: var(--flashcard-front-back-bg);
}
  
.flashcard-back {    
  background-color: var(--flashcard-back-bg);
  color: black;
  z-index: 20;
  transform: rotateX(180deg);
}

.flashcard-hint, .f-points {
  color: var(--text-color)
}

.flashcard-hint:hover {
  cursor: pointer;
}

.flashcard-hears {
  color: #ff0000;
}

.flashcard-msg {
  display: none;  
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--text-color);
  transform: translate(-50%, -50%);
}

.flashcard-msg-bottom {
  display: none;
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0 ;
  z-index: 10;
  color: #000;
  letter-spacing: 1px;
  padding: 1px 25px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.05), rgba(255,255, 255, 0.75), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0.05));
  transform: translateX(-50);
}

.flashcard-start {
  display: block;
  position: absolute;     
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;    
  background: var(--flashcard-category-bg);
  border: var(--flashcard-category-border);
  border-radius: 8px;
}

.image-index {
  position: absolute;
  bottom: 15px;
  width: 100%;
}

/* .pexels-logo {  
  height: 27px;
  background: rgb(0, 0, 0, 0.25);
  padding-right: 5px;
  border-radius: 2.5px;
  border: 1px solid #05a081;
} */

.flashcard-number{
  color: var(--image-index-number);
  background: rgb(0, 0, 0, 0.25);
  font-size: .9rem;
  border-radius: 2.5px;
  padding: 5px 8px;
  margin-right: 10px;
}

.categories-container {
  position: relative;
  display: flex;  
  align-items: center;
  justify-content: center;  
  height: 100%;
  margin: 0; 
}

.categories-pick {
  position: absolute;
  top: 70px;
  margin: 0;
  font-size: 1.5rem; 
}

.categories {
  position: relative;
  width: 255px; 
  height: 250px;
  margin: 0;
  padding: 0;
}

.category {
  position: absolute;
  width: 50px;
  height: 50px;
  background: var(--cat-bg);  
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 12px;
  cursor: pointer;  
  list-style: none;
  padding: 0;
  margin: 0;
}

.categories button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  color: var(--cat-icon);
  border: var(--cat-border);
  transition: all .25s;
  font-size: 25px;
  box-shadow: var(--cat-icon-shadow);
}

button.cat-active {
  color: var(--cat-active); 
  box-shadow: var(--cat-shadow);
  text-shadow: var(--cat-icon-glow);    
}

.category:hover {  
  color: var(--cat-hover);   
  text-shadow: var(--cat-icon-glow);
}

.cat-disabled:hover {
  cursor: not-allowed;
  color: var(--cat-icon-disabled);
  text-shadow: none; 
}

.category1 {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.category2 {
  top: 20%;
  right: 3%;
}

.category3 {
  bottom: 20%;
  right: 3%;    
}

.category4 {
  bottom: 0;
  left: 50%;    
  transform: translateX(-50%);
}

.category5 {
  bottom: 20%;
  left: 3%;    
}

.category6 {
  top: 20%;
  left: 3%;    
}

.start-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--cat-start-btn-bg);
  color: var(--cat-start-btn-text);
  height: 5rem;
  width: 5rem;
  text-align: center;
  padding: 1.75rem .75rem;
  border-radius: 50%;  
  box-shadow: var(--cat-start-shadow);
  font-weight: 700;
  letter-spacing: 2px;
  border: transparent;
}

.start-button:hover {
  cursor: pointer;
  color: var(--cat-start-hover-text);
  background: var(--cat-start-hover);  
}

.start-disabled:hover {
  cursor: not-allowed;
  color: var(--cat-start-btn-disabled);
  text-shadow: none; 
}

.screen-keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.keyboard {
  display: none;
  border: none;
  background: transparent;
}

#hiddenInput {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* .hide-keyboard::after { 
  position: absolute;
  content: '';
  width: 24px;
  height: 2px;
  background-color: red;
  top: 80.4%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
} */

.categories-ring {
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  border: var(--cat-ring-border);
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;  
}

.flashcard-blink {
  position: absolute;
  width: 100%;
  height: calc(100% - 24px);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.find-image {
  color: var(--image-alt-text);
  width: 100%;
  height: calc(100% - 24px);
  object-fit: cover;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.flashcard-back-hint {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: var(--image-hint);
}

/* PROGRESS BAR */
.loading-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.loading-header {
  margin-bottom: 0;
  font-weight: 600;
  letter-spacing: 2.5px;
  color: var(--game-text);
}

.loading{
  position: relative;
  height: 8px;
  width: 10rem;
  border: 8px solid #7b7b7b;
  border-radius: 15px;
}

.color{
  position: absolute;
  background: #ffffff;
  width: 0px;
  height: 8px;
  top: -.25rem;
  left: -.25rem;
  border-radius: 15px;
  animation: load 4s infinite linear;    
}

@keyframes load{
  0%{
    width: 0%;
  }
  25%{
      width: 50%;
  }
  50%{
      width: 75%;
  }
  75%{
      width: 85%;
  }
  100%{
      width: 100%;
  }
}

/* HANGMAN */
.guess-word {
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: 700;
  visibility: hidden;
}

.guess-word > div {
  margin: 0 .5rem;
}

.blink-error {  
  background: #ffc4c4;
  animation: blinkingBackgroundError 1s infinite;
}

@keyframes blinkingBackgroundError {
  100% { opacity: 0; } 
}

/* END GAME */
.end-game-container {
  display: none;
  position: absolute;
  background: var(--game-bg);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;  
}

.end-game-message {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: var(--game-text);
  align-items: center;
  justify-content: center;
}

/* PROGRESS BAR */
.wrapper {  
  width: 100%;  
  background: var(--bar-bg-out);
  padding: 0px;
  border-radius: 30px;
  margin-bottom: 8px;
  border: var(--bar-border-out);   
  box-shadow: var(--bar-box-shadow-out);
  position: relative;
}

.progress {
  width: 0;
  height: .75rem;
  border-radius: 50px 5px 5px 50px;
  background-color: var(--bar-bg-int);  
  position: relative;
  box-shadow: var(--bar-box-shadow-in)
}

.finalMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.achievementUnlocked {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.giphy {
  display: flex;
  justify-content: center;
}

.giphy img{
  width: 250px;
  height: auto;
}

.social-media-icons i {
  font-size: 2rem;
  margin: 0 8px;
  color: var(--social-media-bg);
}

.social-media-icons i:hover {
  color: var(--social-media-hover);
}


@media (max-width: 768px) { 
  .w-md-100 {
    width: 100% !important;
  }   

  .flashcard {
    height: 450px;
  }

  .categories-pick {
    top: 35px;
  }

  .keyboard.keyboard-visible {
    display: block;
  }
}
