/* IMPORT GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
 
:root {
 /* main */
 --main-bg: #F8F9FA;
 --navbar-bg: #4682B4;
 --icons: #2f4f4f;  
 --settings-hover: #15425f;
 --exit-hover: #ff0000;

 --btn-modal-bg: #205d85;
 --btn-modal-hover: #3498db;  

 --logo-color: #F8F9FA;

 --text-color: #000000;
 --text-color2: #D3D3D3;

 /* progress bar */
 --bar-bg-out: #DBEDFF;
 --bar-border-out: 1px solid rgba(0, 59, 98,0.45);
 --bar-box-shadow-out: 
     inset 0 1px 0 rgba(255,255,255,0.15),
     inset 0 0 5px rgba(0,0,0,0.2),
     0 2px 2px rgba(256,256,256,0.35),
     inset 0 10px 20px rgba(0,0,0,0.05);
 
 --bar-bg-int: #90B6E2;
 --bar-box-shadow-in: 
     inset 0 10px 0 rgba(255,255,255,0.2),
     inset 0 2px 2px rgba(0,0,0,0.125);

 /* flashcard main */
 --flashcard-front-bg: #DBEDFF;
 --flashcard-back-bg: #DBEDFF;
 --flashcard-front-back-bg: 1px solid rgb(165, 210, 255);

 --flashcard-category-bg: #DBEDFF;
 --flashcard-category-border: 1px solid rgb(165, 210, 255);

 /* flashcard categories */
 --cat-bg: #3498db;
 --cat-icon: #15425f;
 --cat-border: 2px solid #1b4e70;
 --cat-active: #F8F9FA;
 --cat-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.8);
 --cat-hover: #F8F9FA;
 --cat-ring-border: 10px solid #1b4e70;

 --cat-start-btn-bg: #0e84b3;
 --cat-start-btn-text: #000;
 --cat-start-btn-border: #1b4e70;
 --cat-start-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.25);
 --cat-start-hover-text: #F8F9FA;
 --cat-start-hover: #1e98c9;

/* image */
 --image-alt-text: #DBEDFF;

/* hint */
--image-hint: #000000;
}

html[data-theme='light'] {
  /* main */
  --main-bg: #F8F9FA;
  --navbar-bg: #4682B4;
  --icons: #2f4f4f;  
  --settings-hover: #15425f;
  --exit-hover: #ff0000;

  --btn-modal-bg: #205d85;
  --btn-modal-hover: #3498db;  

  --logo-color: #F8F9FA;

  --text-color: #000000;
  --text-color2: #D3D3D3;

  /* progress bar */
  --bar-bg-out: #DBEDFF;
  --bar-border-out: 1px solid rgba(0, 59, 98,0.45);
  --bar-box-shadow-out: 
      inset 0 1px 0 rgba(255,255,255,0.15),
      inset 0 0 5px rgba(0,0,0,0.2),
      0 2px 2px rgba(256,256,256,0.35),
      inset 0 10px 20px rgba(0,0,0,0.05);
  
  --bar-bg-int: #90B6E2;
  --bar-box-shadow-in: 
      inset 0 10px 0 rgba(255,255,255,0.2),
      inset 0 2px 2px rgba(0,0,0,0.125);

  /* flashcard main */
  --flashcard-front-bg: #DBEDFF;
  --flashcard-back-bg: #DBEDFF;
  --flashcard-front-back-bg: 1px solid rgb(165, 210, 255);

  --flashcard-category-bg: #DBEDFF;
  --flashcard-category-border: 1px solid rgb(165, 210, 255);

  /* flashcard categories */
  --cat-bg: #3498db;
  --cat-icon: #15425f;
  --cat-border: 2px solid #1b4e70;
  --cat-active: #F8F9FA;
  --cat-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.8);
  --cat-hover: #F8F9FA;
  --cat-ring-border: 10px solid #1b4e70;

  --cat-start-btn-bg: #FF6F61;
  --cat-start-btn-text: #000;
  --cat-start-btn-border: #1b4e70;
  --cat-start-shadow: 0 0 15px rgba(255, 111, 97, 0.5);
  --cat-start-hover-text: #F8F9FA;
  --cat-start-hover: #FF6F61;

  /* image */
  --image-alt-text: #DBEDFF;

  /* hint */
  --image-hint: #000000;
}

html[data-theme='dark'] {
  /* --bg-color: #474747;   */
  --main-bg: #474747;  
  --navbar-bg: #111111;
  /* --navbar-bg: #333333; */
  --icons: #8d8d8d;
  --settings-hover: #6b6b6b;
  --exit-hover: #b36666;

  --btn-modal-bg: #205d85;
  --btn-modal-hover: #3498db; 

  --logo-color: #F8F9FA;

  --text-color: #D3D3D3;
  --text-color2: #f7f8f8;

  /* progress bar */
  --bar-bg-out: #484850;
  --bar-border-out: 1px solid rgba(0,0,0,0.75);
  --bar-box-shadow-out: inset 0 0 5px rgba(0,0,0,0.3);  
  --bar-bg-int: rgb(37, 37, 37);
  --bar-box-shadow-in: 
      inset 0 2px 2px rgba(0,0,0,0.125),
      inset 0 10px 0 rgba(80, 80, 80, 0.2);

   /* flashcard main */
  --flashcard-front-bg: #333333;
  --flashcard-back-bg: #333333;  
  --flashcard-front-back-bg: 1px solid rgb(32, 32, 32);

  --flashcard-category-bg: #333333;
  --flashcard-category-border: 1px solid rgb(32, 32, 32);

  /* flashcard categories */
  --cat-bg: #202020;
  --cat-icon: #575757;
  --cat-border: 2px solid #111111;
  --cat-active: #F8F9FA;
  --cat-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.8);
  --cat-hover: #F8F9FA;
  --cat-ring-border: 10px solid #111111;
 
  --cat-start-btn-bg: crimson;
  --cat-start-btn-text: #111111;
  --cat-start-btn-border: #1b4e70;
  --cat-start-shadow: 0 0 15px rgba(220, 10, 10, 0.5);
  --cat-start-hover-text: #F8F9FA;
  --cat-start-hover: crimson;

  /* image */
  --image-alt-text: #333333;  

  /* image hint */
  --image-hint: #F8F9FA;
}

/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: var(--main-bg);
    color: var(--text-color);
}

/* THEMES */
.navbar {
  background-color: var(--navbar-bg);  
}

.navbar-brand {
  color: var(--logo-color);
}

.navbar-nav a, .nav-link active {
  color: var(--text-color) !important;
}

/* CONTROLS */
.exit, .f-settings{
  color: var(--icons);
}

.f-settings {
  border: 0;
  background: transparent;
  padding: 0;
}

.f-settings:hover {
  cursor: pointer;
  color: var(--settings-hover);
}

.exit svg {
  height: 1.35rem;
}

.exit:hover {
  cursor: pointer;
  color: var(--exit-hover);
}

/* SETTING MODAL */
.settings-header {
  position: relative;
  margin-bottom: .5rem;
}

.setting-container {
  padding: 1rem;    
}

.setting-version {
  position: absolute;
  left: 20px;
  top: 45px;
  margin: 0;
}

.setting-version p {
  margin: 0;
  color: grey;
  font-size: 0.75rem;
} 

.btn-modal {
  background: var(--btn-modal-bg);
  color: white;
}

.modal-dialog {
  color: black;
}

.btn-modal:hover {
  background: var(--btn-modal-hover);
  color: white;
}

.form-check-input:checked {
  background-color: var(--btn-modal-bg);
  border-color: var(--btn-modal-bg);
}


/* CARD HEADER - Saif */
.bar {
  height: .75rem;
  width: 100%;
  border: 1px solid #ccc;
  margin-bottom: 5px;
  border-radius: 5px;
}

.header {
  font-size: 1rem;
}