body {
  font-family: Arial;
  font-size: 120%;
}

input[type="text"] {
  font-size: 100%;
}

ol {
  padding-left: 0px;
  max-height: 400px;
  overflow: auto;
}

li {
  padding: 5px;
  list-style: decimal inside none;
}

a {
  text-decoration: none;
  transition: color 0.1s;
}

button {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  font-size: 100%;
  border-radius: 5px;
  padding: 2px 10px;
  border: 0;
  transition: background-color 0.1s;
}

.wrapper {
  margin: 100px auto 0 auto;
  max-width: 600px;
}

.scores {
  position: absolute;
  top: 10px;
  left: 10px;
}

html {
  &[data-theme='light']{
    a {
      color: #563d7c;
      &:hover {
        color: #8570a5;
      }
    }
    button {
      background-color: #563d7c;
      color: white;
    }
    li:nth-child(odd) {
      background-color: #f3edfc;
    }
  }

  &[data-theme='dark']{
    a {
      color: #563d7c;
      &:hover {
        color: #8570a5;
      }
    }
    button {
      background-color: #563d7c;
      color: white;
    }
    li:nth-child(odd) {
      background-color: #f3edfc;
    }
  }
}
