
/* IMPORT GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* CARD HEADER */
.q-bar {
    height: .75rem;
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    border-radius: 5px;
}

.q-header {
    font-size: 1rem;
}

.card-header {
    background: transparent;
    border: 0;
}

.icon {
    height: 1.5rem;    
}

.icon:hover {
    cursor: pointer;
}

/* CARD BODY */
.card-body {
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

/* CARD BUTTONS */
.btn {
    height: 2rem;
}

.play-btn:hover {
    cursor: pointer;
    fill: rgb(52, 124, 76);
}

.card-footer {
    visibility: hidden;
}

.hide {
    display:none;
}


/* main {
    display: flex;
    justify-content: center;

}

#flipchart {
    display: flex;
    content: " ";
    border: 1px black solid;
    height: 50rem;
    width: 50rem;
    top: 10rem;
    padding-bottom: 50rem;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    font-weight: bold;
    & #question-number {
        border: 1px black solid;
        height: 2.5rem;
        width: 10rem;
        top: -6rem;
        padding-top: 0.4rem;
    }
    & #top-bar {
        border: 1px black solid;
        height: 2.5rem;
        width: 48rem;
        top: -3rem;
       
    }
    & #hint {
        border: 1px black solid;
        height: 5rem;
        width: 10rem;
        top: 1rem;
        right: 39rem;
        padding-top: 1.5rem;
    }
    & #question {
        border: 1px black solid;
        height: 20rem;
        width: 48rem;
        top: 15rem;
    }
    & #play-btn {
        
        border: 1px black solid;
        height: 5rem;
        width: 10rem;
        
      
    }
} */