/* ---- MT START---- */

/* IMPORT GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* CARD HEADER */
.q-bar {
    height: .75rem;
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    border-radius: 5px;
}

.q-header {
    font-size: 1rem;
}

.card-header {
    background: transparent;
    border: 0;
}

/* CARD BODY */
.card-body {
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

/* CONTROLS */
.btn {
    height: 2rem;
}

.card-footer {
    visibility: hidden;
}

.control {
    position: relative;
}

.icon {
    height: 1.5rem;    
}

.icon:hover {
    cursor: pointer;
}

/* ICONS */
.settings {
    border: 0;
    background: transparent;
    padding: 0;
}
.settings svg{
    position: absolute;
    height: 1.5rem;
    right: .5rem;
    top: .5rem;
}

.settings:hover {
    cursor: pointer;
    color: #6c757d;
}

.hint:hover {
    cursor: pointer;
}

.q-exit svg {
    height: 1.5rem;
}

.q-exit:hover {
    cursor: pointer;
    color: #ff0000;
}

/* ANSWERS */
.q-answers {
    display: flex;
    padding-top: 3rem;
    flex-direction: column;
    gap: 2rem;
}

.q-answers label:hover {
    color: white !important;
    background-color: #6c757d !important;
}

/* MODALS */
.settings-header {
    margin-bottom: .5rem;
}

.setting-container {
    padding: 1rem;    
}

.modal-header {
    position: relative;
}

.app-version {
    position: absolute;
    top: 0;
    left: 50%;
    /* transform: translateX(-50%); */
}

/* ---- MT END---- */


/* ---- SU START---- */
.hide {
    display:none;
}
/* ---- SU END---- */